<!DOCTYPE html>
<html>
<head>
    <title>Bib Time</title>
    <script src="/static/vue.min.js"></script>
    <script src="/static/vue-clipboard.min.js"></script>
</head>
<style>
 body {background-color: #000; color: #fff; }
 table { width: auto; } 
 table th { text-align: left; } 
 table td { padding: 0.5em; } 
 .settings { margin-bottom: -100px; float: right; font-size: 0.7em; }
  select {font-size: 0.8em;  }
</style>
<body>
    <div id='root'>

            <div class="settings">
              <div v-if="onAir == 1" style="background:green;padding:0.3em;color:white">
                  Connected
              </div>
              <div v-if="onAir == 0" style="background:red;padding:0.3;color:white">
                  No connection
              </div>
              <div>
                Show every:
                <select v-model="pulse">
                  <option v-for="i in [1,2,4,8]" v-text="i">
                  </option>
                </select>
                Max:
                <select v-model="max">
                  <option v-for="i in [1,2,4,8,16,24,32]" v-text="i">
                  </option>
                </select>
              </div>
            </div>
            <table>
              <tr>
                <td> 
                   <div>
                     <table>
                        <tr>
                           <th>№
                           </th>
                           <th v-for="i in 32" v-if="i % pulse == 0" v-show="i <= max">
                             <i><small><span v-text="i * 125"></span>m</i>
                           </th>
                        </tr>
                        <tr v-for="res in results">
                          <td><big><strong><span v-text="res.bib"></span></strong></big></td>
                          <td v-for="time in res.times" v-if="time.pulse % pulse == 0 && time.bib != 0">
                             <span v-text="time.res" @click="doCopy(time.res)"></span><br>
                             <small><small><span v-text="get_lap(time, res)" @click="doCopy(get_lap(time, res))"></span></small></small>
                          </td>
                        </tr>
                    </table>
                 </div>
                </td> 
              </tr>
            </table>
        </div>
    </div>
<script>
  var app = new Vue({
    
    el : '#root',

    data: {
        results: [],
        onAir : 0,
        pulse : 1,
        max : 8,
    },

    created: function () {
      this.ws =  new WebSocket("ws://{{ server_url }}:{{ server_port }}/socket");
      this.ws.onopen = function(e) {
        app.onAir = 1
      }
      this.ws.onclose = function(e) {
        app.onAir = 0
      }
      this.ws.onmessage = function(e) {
        message = JSON.parse(e.data);
        if (message.action == 'result') {
          let res = message.result
          results = app.results.filter(time => time.key == res.key)
          if (results.length == 0) {
            app.results.unshift({ 'key': res.key, 'bib': res.bib, 'times': [res] })
          } else {
            results[0]['bib'] = res.bib
            results[0]['times'].push(res)
          }
        }
      }
    },

    methods: {
      doCopy: function (res) {
        this.$copyText(res).then(function (e) {
          alert(`Copied ${res}`)
        }, function (e) {
          alert('Can not copy')
        })
      },
      get_lap : (time, res) => {
        let pulse = parseInt(time.pulse) - app.pulse
        let prev_res = 0 
        try {
          let prev_time = res.times.filter(time => time.key == res.key && time.pulse == pulse)[0]
          prev_res = app.time_to_int(prev_time.res)
        } catch {
        }
        return app.int_to_time(app.time_to_int(time.res) - prev_res)
      }, 
      time_to_int : time => {
        let mills = time.match(/\d\d\d/g)
        let seconds = time.match(/\d\d?,/g)
        let minutes = time.match(/\d\d?\:/g)
        if (mills != null) { mills = mills[0] } else { mills = 0}
        if (seconds != null) { seconds = seconds[0].replace(',', '') } else { seconds = 0}
        if (minutes != null) { minutes = minutes[0].replace(':', '') } else { minutes = 0}
        let time_int = parseInt(minutes) * 60000 + parseInt(seconds) * 1000 + parseInt(mills)
        return time_int
      }, 
      int_to_time : i_time => {
        let minutes = i_time / 60000 >> 0
        let sec_m = i_time % 60000
        let seconds = sec_m / 1000 >> 0
        let mills = sec_m % 1000
        let ms = mills.toString()
        while (ms.length < 3) {
          ms = '0' + ms
        }
        time = 'none'
        if (minutes === 0) {
            time = `${seconds},${ms}`
        } else {
          if (seconds < 10) {
            time = `${minutes}:0${seconds},${mills}`
          } else {
            time = `${minutes}:${seconds},${mills}`
          }
        }
        return time
      }
    }

  });
</script>
</body>
</html>

